<p>
	<%= link_to "This is the mainpage" , index_mainpage_path %>
</p>

<p>
	<%= link_to "This is the question list" , index_question_path %>
</p>

<p>
	<%= link_to "This is the ask page" , create_question_path %>
</p>

<p>
	<%= link_to "This is user info page" , show_user_path %>
</p>

<p>
	<strong>The current user:</strong>
	<% @user.email %>
</p>